In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import time

In [2]:
sp500 = pd.read_csv("S&P500-Symbols.csv",index_col=0)

In [3]:
def rename_with_symbols(df, symbol):
    for col in df.columns:
        if '_' not in col:
            df.rename(columns={col: "{}_{}".format(symbol,col)}, inplace=True)
    return(None)

def remove_close(df):
    for col in df.columns:
        df.rename(columns={col: col[:-6]}, inplace=True)
    return(None)

In [4]:
ticklist = ['^GSPC','UPRO','SSO','IAU','TLT']+list(sp500.iloc[:,0])
total_df = yf.Ticker(ticklist[0]).history(period="max")

rename_with_symbols(total_df, ticklist[0])

total_df.head()

,^GSPC_Open,^GSPC_High,^GSPC_Low,^GSPC_Close,^GSPC_Volume,^GSPC_Dividends,^GSPC_Stock Splits
Date,,,,,,,
1927-12-30,17.66,17.66,17.66,17.66,0,0,0
1928-01-03,17.76,17.76,17.76,17.76,0,0,0
1928-01-04,17.72,17.72,17.72,17.72,0,0,0
1928-01-05,17.55,17.55,17.55,17.55,0,0,0
1928-01-06,17.66,17.66,17.66,17.66,0,0,0

In [5]:
end=len(ticklist)
ticklist = [ticker for ticker in ticklist if ticker not in ['BRK.B','BF.B','KEYS']]
for i,ticker in enumerate(ticklist[1:end]):
    
    base = np.random.uniform(low=0, high=2)
    ran = np.abs(np.random.normal(5,base))
    time.sleep(ran)

    try:
        new_df = yf.Ticker(ticker).history(period="max")
        rename_with_symbols(new_df, ticker)
        total_df = total_df.join(new_df, how='outer')
    except:
        print("failed {}".format(ticker))
        next
        
    indlist = list(total_df.index)
    indlist = [str(item)[:10] for item in indlist]

    if indlist.count('2020-05-08') > 1:
        print("Error of multiple May 7 Happened on {} number ticker {}".format(i, ticker))
        
    if i%10 == 0:
        print("{}% Gathered".format(i/len(ticklist)*100))
    
total_df = total_df[[col for col in total_df.columns if 'Close' in col]]
remove_close(total_df)
    
total_df.tail()

0.0% Gathered
1.9723865877712032% Gathered
3.9447731755424065% Gathered
5.9171597633136095% Gathered
7.889546351084813% Gathered
9.861932938856016% Gathered
11.834319526627219% Gathered
13.806706114398423% Gathered
15.779092702169626% Gathered
17.75147928994083% Gathered
19.723865877712033% Gathered
failed CI
21.696252465483234% Gathered
23.668639053254438% Gathered
25.64102564102564% Gathered
27.613412228796847% Gathered
29.585798816568047% Gathered
31.558185404339252% Gathered
33.53057199211045% Gathered
35.50295857988166% Gathered
37.47534516765286% Gathered
39.447731755424066% Gathered
41.42011834319527% Gathered
43.39250493096647% Gathered
45.36489151873767% Gathered
47.337278106508876% Gathered
49.30966469428008% Gathered
51.28205128205128% Gathered
53.25443786982249% Gathered
55.22682445759369% Gathered
57.1992110453649% Gathered
59.171597633136095% Gathered
61.1439842209073% Gathered
63.116370808678504% Gathered
65.08875739644971% Gathered
67.0611439842209% Gathered
69.0335305719921% Gathered
71.00591715976331% Gathered
72.97830374753451% Gathered
74.95069033530572% Gathered
76.92307692307693% Gathered
78.89546351084813% Gathered
80.86785009861933% Gathered
82.84023668639054% Gathered
84.81262327416174% Gathered
86.78500986193293% Gathered
88.75739644970415% Gathered
90.72978303747534% Gathered
92.70216962524654% Gathered
94.67455621301775% Gathered
96.64694280078896% Gathered
98.61932938856016% Gathered

,^GSPC,UPRO,SSO,GLD,TLT,MMM,ABT,ABBV,ABMD,ACN,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2020-05-04,2842.74,35.23,106.09,160.34,167.16,148.40,89.83,81.86,181.00,179.53,...,80.45,62.39,16.82,83.24,68.55,83.09,228.77,114.07,30.32,127.44
2020-05-05,2868.44,36.17,108.01,161.02,166.09,147.43,93.03,85.37,186.22,181.62,...,79.67,63.28,17.03,83.50,65.05,83.28,233.15,118.02,29.84,131.30
2020-05-06,2848.42,35.45,106.53,158.95,163.41,146.20,91.08,85.42,186.91,180.38,...,79.25,61.22,16.70,85.24,63.06,83.17,232.42,115.88,29.54,125.69
2020-05-07,2881.19,36.71,109.08,161.39,166.14,145.74,93.99,84.22,188.33,187.11,...,79.60,59.96,17.33,84.43,63.55,84.60,233.86,119.40,29.57,124.24
2020-05-08,2929.80,38.51,112.69,160.42,163.98,148.51,93.70,83.96,187.07,188.56,...,86.94,60.31,18.13,86.86,63.00,86.18,242.92,121.86,30.72,125.47

In [6]:
#total_df = total_df.iloc[:-1,:]    # Use this cell if running on a day that has not hit close of market yet 
total_df

,^GSPC,UPRO,SSO,GLD,TLT,MMM,ABT,ABBV,ABMD,ACN,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1927-12-30,17.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1928-01-03,17.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1928-01-04,17.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1928-01-05,17.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1928-01-06,17.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-04,2842.74,35.23,106.09,160.34,167.16,148.40,89.83,81.86,181.00,179.53,...,80.45,62.39,16.82,83.24,68.55,83.09,228.77,114.07,30.32,127.44
2020-05-05,2868.44,36.17,108.01,161.02,166.09,147.43,93.03,85.37,186.22,181.62,...,79.67,63.28,17.03,83.50,65.05,83.28,233.15,118.02,29.84,131.30
2020-05-06,2848.42,35.45,106.53,158.95,163.41,146.20,91.08,85.42,186.91,180.38,...,79.25,61.22,16.70,85.24,63.06,83.17,232.42,115.88,29.54,125.69
2020-05-07,2881.19,36.71,109.08,161.39,166.14,145.74,93.99,84.22,188.33,187.11,...,79.60,59.96,17.33,84.43,63.55,84.60,233.86,119.40,29.57,124.24
2020-05-08,2929.80,38.51,112.69,160.42,163.98,148.51,93.70,83.96,187.07,188.56,...,86.94,60.31,18.13,86.86,63.00,86.18,242.92,121.86,30.72,125.47

In [7]:
total_df.to_csv("sp500_individual_prices.csv")

In [10]:
returns_df = total_df.copy(deep=True)
for ticker in returns_df.columns:#ticklist[:end]:
    today = returns_df["{}".format(ticker)]
    yesterday = returns_df["{}".format(ticker)].shift(1, axis=0)
    returns_df[ticker] = (today-yesterday)/yesterday*100
returns_df = returns_df[returns_df.columns]
returns_df.to_csv("sp500_individual_returns.csv")

In [11]:
returns_df.head()

,^GSPC,UPRO,SSO,GLD,TLT,MMM,ABT,ABBV,ABMD,ACN,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1927-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1928-01-03,0.566251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1928-01-04,-0.225225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1928-01-05,-0.959368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1928-01-06,0.626781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
returns_df.tail()

,^GSPC,UPRO,SSO,GLD,TLT,MMM,ABT,ABBV,ABMD,ACN,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2020-05-04,0.424982,1.061388,0.645100,0.350482,-0.470378,-0.134590,-0.022259,-1.183003,-1.357022,-0.310956,...,-0.470122,0.337729,-1.233118,0.301241,-1.067975,-0.859086,1.427621,-1.875269,-0.752864,-0.070572
2020-05-05,0.904057,2.668181,1.809784,0.424099,-0.640105,-0.653639,3.562284,4.287808,2.883978,1.164151,...,-0.969546,1.426511,1.248514,0.312350,-5.105762,0.228668,1.914587,3.462786,-1.583113,3.028876
2020-05-06,-0.697940,-1.990600,-1.370243,-1.285555,-1.613583,-0.834294,-2.096098,0.058569,0.370529,-0.682744,...,-0.527175,-3.255373,-1.937757,2.083832,-3.059185,-0.132085,-0.313103,-1.813252,-1.005362,-4.272658
2020-05-07,1.150462,3.554302,2.393692,1.535074,1.670644,-0.314637,3.194993,-1.404823,0.759724,3.731012,...,0.441640,-2.058151,3.772455,-0.950258,0.777038,1.719370,0.619568,3.037625,0.101557,-1.153632
2020-05-08,1.687150,4.903296,3.309498,-0.601029,-1.300108,1.900645,-0.308543,-0.308715,-0.669038,0.774945,...,9.221106,0.583722,4.616272,2.878124,-0.865460,1.867612,3.874113,2.060302,3.889077,0.990019

In [ ]:
pdf = pd.read_csv("sp500_individual_prices.csv", index_col=0)
rdf = pd.read_csv("sp500_individual_returns.csv", index_col=0)

In [ ]:
plist = pdf.columns
rlist = rdf.columns
[item for item in plist if item not in rlist]

In [ ]:
pdf = pdf[rlist]
pdf.head()

In [ ]:
#pdf.to_csv("sp500_individual_prices_505.csv")